.todo-card {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
  padding: 0 10px;
  border-radius: 10px;
  transition: all 200ms;
}

.todo-card:hover {
  scale: 1.1;
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
}

.todo-trash-icon {
  display: none;
  padding: 10px;
  transition: scale 200ms;
}

.todo-trash-icon:hover {
  border-radius: 100%;
  scale: 1.5;
  cursor: pointer;
}

.todo-card:hover .todo-trash-icon {
  display: block;
}

.selected {
  background: rgb(130, 130, 130);
}
